@import 'variables';
@import 'header';
@import 'ordersSection';
@import 'sidebar';
@import 'productSection';

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
