@import 'variables';
@import 'header';
@import 'ordersSection';
@import 'sidebar';
@import 'productSection';

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

button {
  border: none;
}

ul {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.grid-container {
}

.sidebar-container {
}

.header {
}

.product-information {
}

.product-action {
}

.product-statistic {
}

.n1 {
}

.n2 {
}

.n3 {
}

.n4 {
}

.n5 {
}

.n6 {
}
